.search-box {
    appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    border-radius: 5px;
  }
  